{{#partial "title"}}
    Success
{{/partial}}


{{#partial "content"}}
    {{> navBar.hbs}}
    <div class="alert alert-success" role="alert">
        You Succesfully Created an Object. Go To the  <a href="/" class="alert-link">HomePage</a>.
    </div>
{{/partial}}

{{> layout.hbs }}